<div fxLayout="column">

    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">



        <md-toolbar color="primary">
            <span>
                {{title}}
   </span>

            <!-- This fills the remaining space of the current row -->
            <span class="example-fill-remaining-space"></span>

            <button md-raised-button>   


<md-icon>free_breakfast</md-icon>


            </button>
        </md-toolbar>




    </div>

    <div fxLayout="row">

        <div class="left" fxFlex="20">
            LEFT: 20% wide
        </div>

        <div class="right" fxFlex>
            middle: 60% wide
        </div>

        <div class="left" fxFlex="20">
            RIGHT: 20% wide
        </div>

    </div>
</div>



<h1>
    {{title}}
</h1>
<router-outlet></router-outlet>