.example-fill-remaining-space {
    // This fills the remaining space, by using flexbox. 
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
}

.header-container {
    width: 100%;
    position: relative;
    // height: 40vh;
    height: 100vh;
}

.header-layout-transparent {
    background: url('./../assets/Peaberry_coffee_beans,_close_up-opt.jpg') center / cover;
    color: black;
}