<div fxLayout="column">
    <div class="header-container header-layout-transparent">
        <mdl-layout #mdlLayout1="mdlLayout">

            <!-- header section only on desktop -->
            <mdl-layout-header mdl-layout-header-transparent>
                <mdl-layout-header-row>
                    <mdl-layout-title>Title</mdl-layout-title>
                    <mdl-layout-spacer></mdl-layout-spacer>
                    <nav class="mdl-navigation">
                        <a class="mdl-navigation__link" [routerLink]="['/hello']">Link 1</a>
                        <a class="mdl-navigation__link" [routerLink]="['/other']">Link 2</a>
                        <a class="mdl-navigation__link" [routerLink]="['/layout/l3']">Link 3</a>
                    </nav>
                </mdl-layout-header-row>
            </mdl-layout-header>
            <!-- header section only on desktop - end -->

            <!-- drawer section -->
            <mdl-layout-drawer>
                <mdl-layout-title>Title</mdl-layout-title>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" [routerLink]="['/hello']" (click)="mdlLayout1.closeDrawer()">Link 1</a>
                    <a class="mdl-navigation__link" [routerLink]="['/other']" (click)="mdlLayout1.closeDrawer()">Link 2</a>
                    <a class="mdl-navigation__link" [routerLink]="['/layout/l3']" (click)="mdlLayout1.closeDrawer()">Link 3</a>
                </nav>
                <button mdl-button (click)="mdlLayout1.toggleDrawer()" mdl-button-type="raised" mdl-colored="primary">Toggle Drawer</button>
            </mdl-layout-drawer>
            <!-- drawer section - end -->

            <!-- main content section -->
            <mdl-layout-content>
                <div fxLayout="row">

                    <div class="left" fxFlex="20">
                        LEFT: 20% wide
                    </div>

                    <div class="right" fxFlex>
                        <router-outlet></router-outlet>
                    </div>

                    <div class="left" fxFlex="20">
                        RIGHT: 20% wide
                    </div>

                </div>

            </mdl-layout-content>
            <!-- main content section - end -->

        </mdl-layout>

    </div>
</div>
<!--<app-footer></app-footer>-->



<!--<div fxLayout="row">

        <div class="left" fxFlex="20">
            LEFT: 20% wide
        </div>

        <div class="right" fxFlex>
            middle: 60% wide
        </div>

        <div class="left" fxFlex="20">
            RIGHT: 20% wide
        </div>

    </div>-->